<!-- ----------------------------------------------------- -->
<!-- ----------------------------------------------------- -->
<!-- Dan C. ---------------------------------------------- -->
<!-- Web-Design-Challenge -------------------------------- -->
<!-- DS & V BC, 5/3/2021 --------------------------------- -->
<!-- ----------------------------------------------------- -->
<!-- ----------------------------------------------------- -->

body {
  margin: 20px;
}

.jumbotron {
  background-color: orange;
}

* {
  border-radius: 0 !important;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

input:focus{
    outline: none;   
}

h1 {color:#66ccc3;}
p {color:slategrey;}

h1 { font-family: Georgia; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Georgia; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Georgia, Times, "Times New Roman", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Georgia, Times, "Times New Roman", serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Georgia; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 18.5714px; }

h2 { font-family: Georgia; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Georgia; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Georgia, Times, "Times New Roman", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Georgia, Times, "Times New Roman", serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Georgia, Times, "Times New Roman", serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

.class { 
	font-family: Georgia,serif; 
}

body {
  font-family: "Georgia Full Stack", serif, bold;
}
